.title{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-evenly; 
}
nav a {
    text-decoration: none;
    color: black;
}
.first-img {
    background: url(Landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    }